<h1>Ingresa tu serie favorita</h1>

<%= form_with model: @series, url: series_path do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :synopsis %>
    <%= form.text_area :synopsis %>
  </div>
  <div>
    <%= form.label :director %>
    <%= form.text_field :director %>
  </div>
  <div>
    <%= form.submit 'Ingresar' %>
  </div>
<% end %>


